*{
  font-family: sans-serif;
}

header {
  position: fixed;
  left: 65px;
  right: 0;
  top: 0;
  height: 55px;
  background-color: rgb(251, 247, 247);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-all {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sec1 {
  width: 620px;
  height: 52px;
  border: 1px solid rgb(178, 217, 222);
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.for-you,
.following,
.setting {
  width: 280px;
  height: 50px;
  margin-left: -2px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: background-color 0.15s;
}

.for-you:hover,
.following:hover,
.setting:hover {
  background-color: rgb(233, 228, 228);
}

.setting {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.sec2 {
  width: 320px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.sec2-container {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
}

.sec2-container:focus-within {
  outline: 1px solid rgb(12, 140, 214);
}

.searchbar-icon-div {
  height: 42px;
  width: 42px;
  background-color: rgb(233, 240, 244);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 0px;
}

.search-icon {
  height: 17px; /* Initial height */
  width: 17px;  /* Initial width */
  margin-left: 10px; /* Adjusted margin */
  color-scheme: gray;
  padding-left: 10px;
}

.searchbar {
  height: 40px;
  width: 240px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  padding-left: 15px;
  background-color: rgb(233, 240, 244);
  margin-left: -2px;
  color: gray;
  font-size: 15px;
  font-family: Arial;
}

input:focus {
  border-left: none;
  outline: none;
}
